*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: rgb(14, 14, 14);
}

.panel{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    height: 100vh;
    top: 0;
    position:sticky;
}

.panel1 {
    background: black;
    z-index: 1;
}

.panel2 {
    background-color:brown;
    z-index: 2;    
}

.panel3 {
    background-color: darkolivegreen;
    z-index: 3;
}

.panel4 {
    background-color: darkred;
    z-index: 4;
}